// 
/* 


 */



.homeplate{
    // border:3px dashed red;

    *{  z-index:5;  }

    position:relative;
    overflow:hidden !important;

    display:block;
    // display: flex;



    // padding:5em 0 3em 0;
    height:100vh;
    // min-height:600px;

    overflow:hidden;

    // background-image:url('http://lorempixel.com/1200/1000/abstract/3/');
    background-color:lightblue;
    background-attachment:fixed;
    background-size:cover;

    // @include ptPos(5);


    // @include ptBreakpoint($sm){
        // padding:10em 0 15em 0;

        .cssvhunit &{
            // height:100%;
            height:100vh;
            // padding:5em 1em;
        }  

        .no-touchevents &{
            // background-attachment:fixed;
        }

    // }



    // &:before {
    //     content:'';
    //     position:absolute; top:0; left:0; bottom:0; right:0;
    //     width:100%; height:100%;
    //     display:block;
    //     z-index:1;
    //     background: url('http://www.domain40.pagetree.com/app/webroot/userfiles/273/Image/tpl/slide-texture.png') top left fixed;
    // }

    /* 
      -webkit-filter: url("#filter");
      filter: url("#filter");
    */

}
 

.main{
    z-index:50;
}



.homeplate-headline{
    *{margin:0;padding:0;}

    position:relative;
    // color:#fff;
    // text-transform:capitalize;    
    text-align:center;

    h1{
        font-size:2rem;
        // @include ptBreakpoint($md){
        // }
    }

}



.homeplate-bg{
    // *{display:block;}
    display:block;
    z-index:  0;
    
    // position:fixed; 
    position:absolute; 
    top:0; left:0; bottom:0; right:0;
    width:100%;
    height:100%;
    overflow: hidden;

    background-color:white;
    // background-attachment:fixed;
    
    .no-touchevents & {
        background-attachment:fixed;
        // background-size:contain;
    }

    // top:0;
    // transform:translate(0, -50%)
    
    // border:1px solid blue;
}






.homeplate-logo{
    z-index:60;

    display:block;
    width:100%;

    position:relative;
    // transform:translateY(-100%); 
    
    position:fixed; bottom:0; left:0; right:0; width:100%; height:auto;

    &.beRelative{
        position:relative !important ; 
        top:initial; left:initial; bottom:initial; right:initial; height:auto;
    }
    &.beAbsolute{
        position:absolute !important ; 
        top:initial; left:initial; bottom:initial; right:initial; height:auto;
    }
    &.beFixedTop{
        position:fixed !important;
        top:0 !important; 
        left:0 !important; 
        right:0 !important; 
        width:100% !important; 
        height:auto !important;
    }
    &.beFixedBottom{
        position:fixed !important;
        bottom:0; left:0; right:0; width:100%; height:auto;
    }




    &:before{
        content:' ';
        position:absolute; top:50px; left:0; bottom:0; right:0; width:100%; height:100%; display:block;
        opacity:0;
        transition:0.2s;
        z-index:0;
        background: linear-gradient(to bottom,
            rgba(255,255,255,0) 1%, 
            rgba(255,255,255,0.5) 50%,     
            rgba(255,255,255,1) 100%);     

    }
    &:after{
        content:' ';
        position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%; display:block;
        opacity:0;
        transition:0.2s;
        z-index:0;
        background: linear-gradient(to top,
            rgba(255,255,255,0) 1%, 
            rgba(255,255,255,0.5) 50%,     
            rgba(255,255,255,1) 100%);     
        
    }

    &.bgGradientToBottom{   
        &:before{
            top:0;
            opacity:1;
        }
    }

    &.bgGradientToTop{   
        &:after{
            opacity:1;
        }
    }

    // svg{
    #BRANDONHAUN{
        position:relative;
        z-index:1;
    }
     

    




}

 




 


$filterGlitchc: url("#filterGlitch");


@mixin filterGlitch(){
    -webkit-filter: $filterGlitchc;
    filter: $filterGlitchc;
}

svg{
    display:block;
}


#BRANDONHAUN{
    display:block;
    // position:fixed; bottom:0; left:0; right:0; width:100%; height:auto;

    // background: linear-gradient(to bottom,
    //     rgba(255,255,255,0) 1%, 
    //     rgba(255,255,255,0.5) 50%,     
    //     rgba(255,255,255,1) 100%);     
    
    &.red{
        #BRANDON,
        #HAUN{
            fill:indianred;
        }
    }
    &.blue{
        #BRANDON,
        #HAUN{
            fill:cadetblue;
        }
    }
}

#BRANDON{
    // fill:rgba(0,0,0,0.5);
    // fill:white;
    // fill:indianred;
}

#HAUN{
    // fill:rgba(0,0,0,0.5);
    // fill:white;
    // fill:CADETBLUE;
    // fill:STEELBLUE;
}







.filterGlitch{
    @include filterGlitch();

    .no-touchevents & {    
    }    
}



#my-homeplate{
    overflow:hidden;
    
    .homeplate-logo{
        // border:1px solid red;
        position:absolute;
        bottom:0;
    }
}


.svg-filters{
    left:-100%;
    position:absolute;
    opacity:0;
    // display:none;
}



button{   
    position: absolute;
    top:1em; left:1em;

}






.hp-logo-trigger{
    border-top:1px solid red;
    color:red;
    background-color:black;
    padding:0;
    margin:0;
    text-align:center;
    font-size:0.5em;
    height:0;
    overflow:visible;
}


.homeplate{
    // @include jagged(  $color: fff, 
    //                     $size: 50, 
    //                     $location: bottom, 
    //                     $type: fill, 
    //                     $side: inside, 
    //                     $animate: true
    //                 )    
}


.main{

    // &:before{
    //     content:'';
    //     position:absolute;
    //     top:-300px; left:0; right:0;
    //     height:300px;
    //     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); 

    // }


    // @include jagged(  $color: fff, 
    //                     $size: 50, 
    //                     $location: top, 
    //                     $type: fill, 
    //                     $side: outside, 
    //                     $animate: true
    //                 )


    // @include jagged(  $color: 333, 
    //                     $size: 50, 
    //                     $location: bottom, 
    //                     $type: fill, 
    //                     $side: inside, 
    //                     $animate: false
    //                 )

}




.homeplate-bg{
    clip-path: url(#myClip);
}




.blend-mask{
    // color:black;

    position: absolute; 
    top:0; left:0; bottom:0; right:0;
    width:100%; height:100%;

    pointer-events:none;

    // background-color: #fff;
    background-color: #999;
    mix-blend-mode: screen;    

}





.my-svg{
    position:absolute;
    display:block;
}


























